{% extends 'shared/base.html' %}

{% block content %}

<div id="container">
    <section>
    <h1>All Notes</h1>
    <form>
    {% csrf_token %}
        <button class="newManageButton" formaction="{% url 'binder:add_note' school_class %}">Add Note</button>
    </form>
    <form>
    {% csrf_token %}
        {% for note in all_notes %}
            <div>
                <button class="noteButton" formaction="{% url 'binder:note_details' note.id %}">{{ note.name }}</button>
            </div>
        {% endfor %}
    </form>
</section>
</div>
{% endblock content %}